* {
  font-family: 'Bilbo Swash Caps', cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/bg.jpg), linear-gradient(45deg, #ff3479, #0319f4);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 50px solid white;
  border-right: 50px solid white;
}
section h2 {
  color: white;
  font-size: 6em;
  text-align: center;
}
section:nth-child(2) {
  background: url(../images/bg.jpg), linear-gradient(45deg, #0319f4, #62ff3b);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}
section:nth-child(3) {
  background: url(../images/bg.jpg), linear-gradient(45deg, #ff3479, #ffc107);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}
section::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  background: linear-gradient(-45deg, transparent 33.333%, #fff 33.33%, #fff 66.666%, transparent 66.666%),
    linear-gradient(45deg, transparent 33.333%, #fff 33.33%, #fff 66.666%, transparent 66.666%);
  background-size: 30px 60px;
}
section::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  background: linear-gradient(-45deg, transparent 33.333%, #fff 33.33%, #fff 66.666%, transparent 66.666%),
    linear-gradient(45deg, transparent 33.333%, #fff 33.33%, #fff 66.666%, transparent 66.666%);
  background-size: 30px 60px;
  transform: rotate(180deg);
}
/* 
来源：竹子代码
作者：竹子
博客：www.uzcode.cn 
*/
